<h1>Editing boleta_de_deposito_detalle</h1>

<%= render 'form' %>

<%= link_to 'Show', [@boleta_de_deposito_detalle.boleta_de_deposito, @boleta_de_deposito_detalle] %> |
<%= link_to 'Back', boleta_de_deposito_boletas_de_depositos_detalles_path %>
