$("#modal_tipo_de_persona .modal").modal("hide");
$("#caja_tipo_de_persona_id").append("<option value='<%= @tipo_de_persona.id %>'><%= @tipo_de_persona.descripcion %> </option>");
$("#persona_tipo_de_persona_id").append("<option value='<%= @tipo_de_persona.id %>'><%= @tipo_de_persona.descripcion %> </option>");