<h1 id="titulo_boleta_de_deposito"> Boletas de Depositos <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-chevron-up" id="gbtn1"></span></button></h1>
<div id="form-toggle">
  <%= render 'form' %>
</div>

<%= render 'listar'%>

<br>

<%= link_to 'New Boleta de deposito', new_boleta_de_deposito_path %>
