<p id="notice"><%= notice %></p>

<p>
  <strong>Cuenta bancaria:</strong>
  <%= @chequera.cuenta_bancaria %>
</p>

<%= link_to 'Edit', edit_chequera_path(@chequera) %> |
<%= link_to 'Back', chequeras_path %>
