<h1>Editing movimiento_de_caja_detalle</h1>

<%= render 'form' %>

<%= link_to 'Show', [@movimiento_de_caja_detalle.movimiento_de_caja, @movimiento_de_caja_detalle] %> |
<%= link_to 'Back', movimiento_de_caja_movimientos_de_cajas_detalles_path %>
