<h1>Listing movimientos_de_cajas_detalles</h1>

<%= render 'movimientos_de_cajas_detalles/listar'%>

<br>

<%= link_to 'New Movimiento de caja detalle', new_movimiento_de_caja_movimiento_de_caja_detalle_path %>
