/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 *= require dataTables/jquery.dataTables
 *= require dataTables/bootstrap/3/jquery.dataTables.bootstrap
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

body {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #333333;
  }
#tabla_print{
      display: none !important;
}

th{
  text-align: center;
}
td{
   text-align: center;
}
a{
  color: #B4B4C2;
}
a:visited {
  color: #B4B4C2;
}


.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
  outline: 0 !important;
}
.btn-primary {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
  transition: all .5s;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #128f76;
  border-color: #11866f;
  transition: all .5s;
}
.btn-reset {
    color: #333333;
    background-color: #ffffff;
    border-color: #ffffff;
    transition: all .5s;
}
.btn-reset:hover, .btn-reset:focus, .btn-reset:active, .btn-reset.active, .open>.dropdown-toggle.btn-reset {
  color: #ffffff;
  background-color: #A90505;
  border-color: #A90505;
  transition: all .5s;
}
.btn-pdf {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-pdf:hover, .btn-pdf:focus, .btn-pdf:active, .btn-pdf.active, .open>.dropdown-toggle.btn-pdf {
  color: #ffffff;
  background-color: #A90505;
  border-color: #A90505;
}
.btn-xls {
  color: #ffffff;
  background-color: #3AB645;
  border-color: #3AB645;
}
.btn-xls:hover, .btn-xls:focus, .btn-xls:active, .btn-xls.active, .open>.dropdown-toggle.btn-xls {
  color: #ffffff;
  background-color: #00890C;
  border-color: #00890C;
}
.btn-print {
  color: #ffffff;
  background-color: #46b8da;
  border-color: #46b8da;
}
.btn-print:hover, .btn-print:focus, .btn-print:active, .btn-print.active, .open>.dropdown-toggle.btn-print {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}

/////////////////////form login
.form-signin {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 17%;
}
.form-signin .form-control {
  font-size: 16px;
  height: auto;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius:0px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius:0px;
}
.form-signin-heading {
  text-align: center;
}
.form-signin .btn{
  border-radius:0px;
}

/////////////////form
.form-control {
  border-radius: 2px;

  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.form-control:focus {
  border-color: #66afe9;
  border-bottom: 2px solid #66AFE9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.form-group {
     margin-bottom: 0px; 
}

.form-group #alertdiv{
     font-size: 12px; 
     color: #a94442;
}
/////////////////////////////////navbar
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #293846;
}
.navbar{
  border-radius: 0 !important;
  margin-bottom: 0px !important;
  border: 0px solid transparent !important;
}
.navbar-inverse {
  background-color: #011826 !important;
  border-color: #03658C !important;
  border-radius: 0;
}

.dropdown .dropdown-menu {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}


/*------------------------------------------------------------------
[2. Navbar / .navbar]
*/

.navbar .container {
    position: relative;
}

.navbar-inner {
  padding: 7px 0;
  background: #00ba8b !important;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.navbar-fixed-top {
  position: static;
}

.navbar .nav a {
  font-size: 11px;
}
.navbar .nav>li>a { 
  color:#fff !important;
}
.navbar .brand {
  font-weight: 600;
  position: relative;
  top: 2px;
}
.navbar .header>img {
  max-width: 153px;
  margin-top: 6px;
}


/*------------------------------------------------------------------
[3. Subnavbar / .subnavbar]
*/

.subnavbar-inner {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  height: 60px;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
  display: inline-block;
  
  height: 80px;
  padding: 0;
  margin: 0;
}

.subnavbar .container > ul > li {
  float: left;
  
  min-width: 90px;
  height: 60px;
  padding: 0;
  margin: 0;
  
  text-align: center;
  list-style: none;

  border-left: 1px solid #d9d9d9; 
}

.subnavbar .container > ul > li > a {
  display: block;
  
  height: 100%;
  padding: 0 15px;
  
  font-size: 12px;
  font-weight: bold;
  color: #b2afaa;
}

.subnavbar .container > ul > li > a:hover {
  color: #888;
  text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
  display: inline-block;
  
  width: 24px;
  height: 24px;
  margin-top: 11px;
  margin-bottom: -3px;
  font-size: 20px;
}

.subnavbar .container > ul > li > a > span {
  display: block; 
}

.subnavbar .container > ul > li.active > a {
  border-bottom:3px solid #03658C;
  color: #383838;
}

.subnavbar .dropdown .dropdown-menu a {
  font-size: 12px;
}

.subnavbar .dropdown .dropdown-menu {
  text-align: left;
  
  -webkit-border-top-left-radius: 0;
  -webkit-border-top-right-radius: 0;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-topright: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.subnavbar .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.subnavbar .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px;
}

.subnavbar .caret {
  margin-top: 4px;
  border-top-color: white;
  border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
  display: none;
}

////////////////////////////////////// form

////////////////////////////////////////FORM BUSCAR
#the-basics input {
  background-image: url('/icon-search.png');
  background-position: 10px center;
  background-repeat: no-repeat;
  text-indent: 20px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 2s;
  transition: all 0.2s;
  background-color: rgba(255, 255, 255, 1) !important;
  border-radius: 2px;
  font-size:12px;
  width: 239px;
}
#the-basics input:focus {
  background-position: -20px center;
  text-indent: 0;
}
