/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 * require_tree .
 * require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('/assets/glyphicons-halflings-regular.eot');
    src: url('/assets/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('/assets/glyphicons-halflings-regular.woff') format('woff'), url('/assets/glyphicons-halflings-regular.ttf') format('truetype'), url('/assets/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}


#tabla_print{
      display: none !important;
}

.mini-stat {
padding: 30px;
margin-top: 100px;
margin-bottom: 20px;
}
.bg-facebook {
background-color: #3b5998!important;
border: 1px solid #3b5998;
color: white;
}
/* Hide for mobile, show later */
body{
  font-family: 'Open Sans', sans-serif;
}
th{
  text-align: center;
}
td{
   text-align: center;
}
.col-md-offset-1 {
  margin-left: 12.333333%;
}

.sidebar {
  display: none;
  width: 12.666667%;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #2f4050;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
position: relative;
  display: block;
  padding: 6px 15px;
  font-size: small;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  font-weight: 600;
  background-color: #293846;
}
.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: #293846;
}
.navbar-inverse {
  background-color: #f3f3f4;
  border-color: #e7eaec;
  border-top: 4px;
}
.navbar-fixed-top {
  top: 0;
  border-width: 0 0 4px;
}
a{
  color: #B4B4C2;
}
a:visited {
  color: #B4B4C2;
}
.btn-outline {
  color: inherit;
  background-color: transparent;
  transition: all .5s;
}
.btn-primary {
  color: #ffffff;
  background-color: #18bc9c;
  border-color: #18bc9c;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #128f76;
  border-color: #11866f;
}
.btn-pdf {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d9534f;
}
.btn-pdf:hover, .btn-pdf:focus, .btn-pdf:active, .btn-pdf.active, .open>.dropdown-toggle.btn-pdf {
  color: #ffffff;
  background-color: #A90505;
  border-color: #A90505;
}
.btn-xls {
  color: #ffffff;
  background-color: #3AB645;
  border-color: #3AB645;
}
.btn-xls:hover, .btn-xls:focus, .btn-xls:active, .btn-xls.active, .open>.dropdown-toggle.btn-xls {
  color: #ffffff;
  background-color: #00890C;
  border-color: #00890C;
}
.btn-print {
  color: #ffffff;
  background-color: #46b8da;
  border-color: #46b8da;
}
.btn-print:hover, .btn-print:focus, .btn-print:active, .btn-print.active, .open>.dropdown-toggle.btn-print {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  border-radius: 25px;
  font-size: 18px;
  line-height: 1.33;
}
.form-signin {
  max-width: 330px;
  margin: 0 auto;
  margin-top: 17%;
}
.form-signin .form-control {
  font-size: 16px;
  height: auto;
}
.form-signin input[type="text"] {
  margin-bottom: 10px;
  border-radius:0px;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-radius:0px;
}
.form-signin-heading {
  text-align: center;
}
.form-signin .btn{
  border-radius:0px;
}