  <div class="modal fade" id="modal_tipo_de_persona">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Agregando nuevo de tipo de persona</h4>
        </div>
        <div class="modal-body">
          <%= render 'tipos_de_personas/form' %>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->