<h1>Editing movimiento_de_banco_detalle</h1>

<%= render 'form' %>

<%= link_to 'Show', [@movimiento_de_banco_detalle.movimiento_de_banco, @movimiento_de_banco_detalle] %> |
<%= link_to 'Back', movimiento_de_banco_movimientos_de_bancos_detalles_path %>
