<h1>Listing movimientos_de_bancos_detalles</h1>

<%= render 'movimientos_de_bancos_detalles/listar'%>

<br>

<%= link_to 'New Movimiento de banco detalle', new_movimiento_de_banco_movimiento_de_banco_detalle_path %>
