<div class="well">
<%= render 'apertura_cajas/movForm' %>
</div>
<h3 id="titulo_movimiento_de_caja"> Movimientos <button type="button" class="btn btn-info btn-outline btn-circle" id="btn1"><span class="glyphicon glyphicon-chevron-up" id="gbtn1"></span></button></h3>
<div id="form-toggle">
  <%= render 'form'%>
</div>

<%= render 'listar'%>
