<p id="notice"><%= notice %></p>

<p>
  <strong>Descripcion:</strong>
  <%= @tipo_de_movimiento.descripcion %>
</p>

<%= link_to 'Edit', edit_tipo_de_movimiento_path(@tipo_de_movimiento) %> |
<%= link_to 'Back', tipos_de_movimientos_path %>
