<div class="navbar navbar-inverse " role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="header">
          <%= image_tag("widefar_2.png", :alt => "logo") %>
      </div>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div id="the-basics">
              <% if user_signed_in? %>
                <span style="color: #B5ACAC">Bienvenido </span>
                <span  style="color: #B5ACAC"><%= current_user.username %></span>
                <%= link_to "Cerrar Sesión", destroy_user_session_path, method: :delete, :class => 'btn btn-default btn-outline'  %>
              <% else %>
                <%= link_to "Iniciar Sesión", new_user_session_path, :class => 'btn btn-default'  %>
              <% end %>
            </div>
            <!-- <button type="submit" class="btn btn-default">Submit</button> -->
          </div>
        </form> 
      </ul>
    </div>
  </div>
</div>
