$("#modal-cheque_entrante .modal").modal("hide");
$(".cheque_entrante").append("<option value='<%= @cheque_entrante.id %>'> <%= @cheque_entrante.numero %> - <%= @cheque_entrante.banco.nombre %> - <%= @cheque_entrante.monto %></option>");