<h1>Parametros</h1>
 <% @parametros.each do |parametro| %>
   <table id="vertical-1" class="table">
            <caption><%= link_to 'Editar', edit_parametro_path(parametro), class: "btn btn-info" %></caption>
            <tr>
                <th>Nombre de la Empresa</th>
                <td><%= parametro.nombre_empresa %></td>
            </tr>
            <tr>
                <th>Logo de la Empresa</th>
                <td><%= image_tag parametro.logo_empresa_url.to_s %></td>
            </tr>
          <div class="separador"></div>
        </table>
    <% end %>