<div class="well">
	<div class="row">
	<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
		<div class="stats-title">Caja 1</div>
		<label for="input-id" class="col-sm-2">Caja 1</label>
		<label for="input-id" class="col-sm-2">Caja 1</label>
	</div>
	<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
		<label for="input-id" class="col-sm-2">Caja 1</label>
		<label for="input-id" class="col-sm-2">Caja 1</label>
		<label for="input-id" class="col-sm-2">Caja 1</label>
	</div>
	</div>
</div>